@import url(http://fonts.googleapis.com/css?family=Orbitron:400,700);


body {
	padding-top: 20px;
}


.body-section {
	padding-top: 50px;
}

.form-body {
	height: 500px;
}


.pie_chart_container {
	text-align:center;
	margin: 0 auto;
}


.leader-results, .loser-results, .total-results {
	text-align:center;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none !important;
}

.list-group-item {
	text-align: left;
}

.leader-body h3 {
	margin-top: 10px; 
}

.badge {
	background-color: rgb(124, 181, 236) !important;
}


#form-field {
  padding-left:35px;
  padding-right:35px;
  padding-top:30px;
  padding-bottom:50px;
  /*width: 450px;*/
  left: 50%;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-right: auto;
  margin-left: auto;
}

.feedback-input {
  color:#3c3c3c;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 25px 13px 25px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(75, 135, 201, 0.65);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  /*padding: 13px 13px 13px 54px;*/
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}


input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

.button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:right;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  width: 500px;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}


.inactive {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.active {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}


.alert-container {

	height: 80px;

}


.explode-background {
	height: 100%;
	background: url('http://gifs.gifbin.com/052011/1307032252_atomic_bomb_mushroom_cloud_explosion.gif');
}


#bomb-timer {
	font-family: 'Orbitron', sans-serif;
	font-size: 50px;
	color: white;
	background-color: black;
	border: 5px solid black;
	border-radius: 20px;
	width: 500px;
}


#battery {
	height: 10%;
	width: 10%;
}

div.line{
  transform-origin: 0 100%;
  height: 3px; /* Line width of 3 */
  background: #000; /* Black fill */
}

#myCanvas {
	/*height: 100%;
	width: 100%;*/
	padding-bottom: 50px;
}


.canvas-container
{
  position: relative;
}

.canvas-buttons
{
  position: absolute;
  
  width: 100%;
}

#left-button {
  position: absolute;

	bottom: 200px;
	left: 10px;
}

#right-button {
  position: absolute;

	bottom: 200px;
	right: 10px;
}



@-webkit-keyframes flash {
    0% {
        background-color: Yellow;
        opacity:1;
    }
    22% {
        background-color: Yellow;
    }
    77% {
        background-color: Red;
    }
    100% {
        background-color: #777;
    }
}
    
.flash {
    -webkit-animation-name: flash;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}    




