
<div class="row body-section">
	<div class="container form-body list-group-item">
		<h3>Bomb Status: <span id="bomb-state" class="alert alert-info" >Inactive</span></h3>
		<hr>

		<div id="form-field" class="row text-center">
            
            <form name="input" action="/submit-activation-form" method="post">
            	<input type="text" name="code" id="activation-code"class="feedback-input vcenter" placeholder="Activation Code">
            	<hr>
            	<input type="submit" value="Activate" id="bomb-activate" class="vcenter button-blue">
            </form>
			
		</div>
	</div>
</div>