<% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
<div class="header-alert alert alert-<%= kind %>">
  	<%= flash[kind] %>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
<% end %>